@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Tilt Neon', cursive !important;
  background-color: whitesmoke !important;
  color: black !important;
}
.navbar{
  background-color: whitesmoke;
  color: black !important;
  font-family: 'Times New Roman', Times, serif !important;
  border: 2px solid black;
}
nav{
  color: black !important;
}

#carousel{
  max-height: 500px;
}
@media screen and (max-width: 600px){
  .cartButton{
    margin-top: -18px;
  }
  .linknav{
    font-size: 0.5rem !important;
    padding:3px !important;
  }
  .searchh{
    padding: 1px !important;
    font-size: 0.75rem !important;
    position: absolute;
    bottom: 0;
  }
  .cardcomp{
    display: flex;
    justify-content: center;
  }
}
